<%= month_calendar do |date| %>
    <%= date %>
  <div>
    <% @diaries.each do |a| %>
        <% if a.date === date %>
            <%= link_to a.title, "/diaries/#{a.id}" %>
        <% end %>
    <% end %>
      
  </div>
<% end %>